* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0;
    max-width: 100%;


}

body {
    font-family: 'arial', sans-serif;
}

.header-inner-content {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;


}

/*header*/

.navbar {
    background-color: #2c2c2c ;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    position: sticky;
    top: 0;
    box-shadow: 10px 0px 10px #2c2c2c;
    z-index: 99;
}

.navbar>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.logo {
    color: #00ff4c;
}

.logo span {
    color: #fff
}

nav ul {
    display: flex;
    list-style: none;
    align-items: center;
}

nav ul :hover {
    color: hsl(0, 0%, 62%);
    transform: translateY(-2px);
}

.nav-icon-container {
    display: flex;
    align-items: center;
}

.nav-icon-container img {
    width: 30px;
    cursor: pointer;
}

.nav-icon-container img:first-child {
    margin-right: 1rem;
}

nav ul li {
    color: #fff;
    margin-right: 1.5rem;
    cursor: pointer;
}

nav ul li :hover {
    transform: translateY(-5px);
    transition: all 0.2s;
    font-weight: bold;
}

.menu-button {
    display: none;
}

.header-bottom-side {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1rem 5rem;

}

.header-bottom-side-left {
    height: 100%;
    flex-basis: 50%;
}

.header-bottom-side-left h2 {
    font-size: 3.2rem;
    margin-bottom: 1.5rem;
}

.header-bottom-side-left p {
    line-height: 1.5rem;
    margin-bottom: 1.5rem;

}

.header-bottom-side-left button {
    background-color: #0084ff;
    border: none;
    cursor: pointer;
    padding: 0.8rem 3.8rem;
    border-radius: 9999px;
    color: #fff;
    font-weight: 500;
    font-size: 1rem;
    transition: all 0.2s;

}

.header-bottom-side-left button :hover {
    background-color: #aeaeae;
    transform: translateY(-2px);
}

.header-bottom-side-right {
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.header-bottom-side-right img {
    width: 100%;
}

/* media queries */
@media (max-width:800px) {
    .logo {
        font-size: 1.2rem;
    }

    .menu-button {
        display: block;
    }

    .header-bottom-side {
        flex-direction: column;
        text-align: center;
        padding-top: 4rem
    }

    nav {
        position: absolute;
        background-color: #2c2c2c;
        width: 100%;
        top: 46px;
        display: none;

    }

    .show-menu nav {
        display: block;
    }

    nav ul {
        flex-direction: column;

    }

    nav ul li {
        text-align: center;
        padding: 0.8rem
    }
}

/* header */

/* main content  */

main {
    background-color: #ebebeb;
}

.gray-background {
    background-color: #2c2c2c;
}

.page-inner-content {
    max-width: 1280px;
    margin: 0 auto;
}

.cols {
    display: grid;
    justify-content: space-evenly;
    padding: 4rem 1rem;
}

.cols-3 {
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

.cols-3 img {
    max-width: 100%;
    cursor: pointer;

}

.cols-3 img :hover {
    transform: translateY(-6);
}

.cols-4 {
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    
}

.cols>div {
    cursor: pointer;
    transition: all 0.2s;
    
}

.cols>div:hover {
    transform: translateY(-6px);

}

.section-title {
    text-align: center;
    margin-top: 4rem;
    font-size: 1.8rem;
}

.subtitle-underline {
    width: 100px;
    height: 5px;
    background: #0084ff;
    border-radius: 9999px;
    margin: 8px auto 0 auto;
}

.product {
    color: #2c2c2c;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0.1rem 0.1rem 0.6rem;
    border-radius: 0.1rem;
}

.product p{
    margin-left: 1rem
}

.product-name {
    font-weight: 600;
    margin-top: 0.4rem;

}
.card{
    margin-bottom: 1rem;
    font-size: small;
}

.rate {
    color: #ffa600;
    font-size: 1.3rem;

}
.discount{
    display: flex;
    gap: 0.4rem;
}
.discount p {
    text-decoration: line-through;
}

.product-price span {
    font-weight: 100;
    margin-left: 3px;

}
.product-price{
    font-weight: bold;
    color: rgb(89, 184, 30);
    font-size: 18px !important;
    margin: 0.3rem 0
}

.cols-5 {

    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.cols-5 img {
    max-width: 100%;
    cursor: pointer;

}

.cols-5 img :hover {
    transform: translateY(-6);
}


.exclusive-container {
    color: #fff;
    flex-direction: row-reverse;
    padding: 5rem 1rem;

}

.exclusive-container img {
    max-width: 500px;

}

/* Media queries */

@media (max-width: 800px){
    .section-title{
        font-size: 1rem;
    }

    .cols-3{
        grid-template-columns: repeat(1, 1fr);
    }
    .cols-4{
        grid-template-columns: repeat(2, 1fr);
    }
    .cols-5{
        grid-template-columns: repeat(2, 1fr);
    }

    .product-name, .product-price, .rate{

        overflow: hidden;
        font-size: 0.8rem
    }
    .exclusive-container {
        flex-direction: column-reverse;
    }
}
/* Comments */

.comments {
    display: flex ;
    padding: 4rem 1rem;
    justify-content: space-evenly;

}
.comment {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-basis: 30%;
    text-align: center;
    box-shadow: 0 0 15px #afafaf;
    padding: 1rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: all 0.2s;

}
.comment:hover {
    transform: translateY(-5px);
}
.comment p{
    margin: 5px 0;
}
.comment p:first-child{
    font-weight: bold;
    font-size: 5rem;
    color: #0084ff;
    margin-top: 3rem;
    line-height: 2rem;

}

.comment p:last-child{
    font-weight: bold;
}
/* Media queries */
    @media (max-width: 800px){
        .comments{
            flex-direction: column ;
        }
        .comment{
            margin-bottom: 1.2rem ;
        }
    }

 /* Footer */

.footer-content{
    display: flex;
    align-items: center;
    color: #8f8f8f;
    padding: 4rem 1rem;
    gap: 2rem;
}
.download-options>*{
    margin: 1rem 0;
}

.download-options>p:first-child{
    font-weight: bold;
    color: #fff
    
}
.download-options>div{
    display: flex;
}
.download-options>div img{
    width: 180px;
    cursor: pointer;
}
.download-options img:hover{
    transform: translateY(-3px);
}
.logo-footer{
    text-align: center;
}
.logo-footer p {
    width: 700px;
}
.links-footer h3{
    color: #fff;
    margin-bottom: 0.8rem;
}
.links-footer ul{
    list-style: none;
}
.links-footer ul li{
    margin-bottom: 0.5rem;
    cursor: pointer;
    
}
.links-footer ul li:hover{
    transform: translateY(-3px);
}

.copyright{
    color: #fff;
    padding: 2rem 0;
    text-align: center;
}

@media (max-width: 800px){
    .footer-content{
        display: inline;
        font-size: 0.8rem;
    }
    .footer-content>div{
        padding: 1rem;
    }
    .download-options>div{
        display: inline;
    }
    .download-options>div img{
        width: 120px;
    }
    .copyright{
        font-size: 0.8rem;
    }
}